body{
	// Light Theme(default)
	transition: all ease .5s;
	color: #24292e;
	background: #e8edf5;
	a{
		color: rgba(7, 226, 120, 0.7);
		transition: all ease .3s;
		cursor: pointer;
		&:hover{
			color: rgba(7, 226, 120, 1);
			transition: all ease .3s;
		}
	}
	.home .add-button-fixed{
		background: rgb(23, 182, 105);
		color: #fff;
		&:hover{
			background: rgba(0, 230, 119, 1);
		}
	}
	h2{
		&.red{
			color: @red;
		}
		&.green{
			color: rgba(7, 226, 120, 0.7);
		}
	}
	button{
		background: transparent;
		cursor: pointer;
	}
	.balance h2{
		color: #fff;
	}
	.card{
		background: #fff;
		transition: all ease .3s;
		&.total{
			background: @green;
			color: #fff;
		}
		h3 .card-icon{
			&.up{
				color: @secondaryGreen;
			}
			&.down{
				color: @red;
			}
			&.total{
				color: #fff;
			}
		}
	}
	header{
		background: rgba(92,107,192,1);
		color: #fff;
		.toggler .header-icon{
			color: rgba(255,224,130,1);
			transition: all ease .3s;
			&#sun{
				color: rgba(255,213,79,1);
				transition: all ease .3s;
			}
			&#moon{
				color: rgba(255,224,130,1);
				transition: all ease .3s;
			}
		}
	}
	.data-table {
		color: #969cb3;
		th, td{
			background: #fff;
		}
		td{
			&.description{
				color: @darkBlue;
			}
			&.income{
				color: rgb(39, 225, 135);
			}
			&.expense{
				color: @secondaryRed;
			}
			.transaction-icon{
				color: @secondaryRed
			}
		}
	}
	footer{
		color: @darkBlue;
	}
	.modal-overlay{
		background: rgba(0, 0, 0, 0.6);
		.modal{
			background: #f0f2f5;
			border: 1px solid #8a8a8a;
			.modal-content .form {
				form{
					.input-label{
						&.actions{
							a{
								color: @red;
								border: 1px solid @red;
								opacity: .7;
								transition: all ease .3s;
								&:hover{
									opacity: 1;
									transition: all ease .3s;
								}
							}
							button{
								background: @green;
								opacity: .7;
								transition: all ease .3s;
								border: 1px solid @green;
								color: #fff;
								&:hover{
									opacity: 1;
									transition: all ease .3s;
								}
							}
						}
						span{
							p{
								font-size: 2rem;
								.flex-coll-center-center();
								&.credit{
									color: rgba(7, 226, 120, 0.7);
								}
								&.debit{
									color: @red;
								}
							}
							color: @darkBlue;
							background: #fff;
						}
					}
				}
			}
		}
	}


	// Dark Theme
	&.dark{
		transition: all ease .5s;
		color: @lightGray;
		background: #0d1117;
		button{
			background: @darkGray;
		}
		.card{
			background: @darkGray;
			transition: all ease .3s;
			&.total{
				background: @secondaryGreen;
				color: #fff;
			}
		}
		header{
			background: @darkGraySecondary;	
		}
		.data-table {
			color: @lightGray;
			th, td{
				background: @darkGray;
			}
			td{
				&.description{
					color: #fff;
				}
				&.income{
					color: rgba(105,240,174,1);
				}
				&.expense{
					color: @red;
				}
			}
		}
		footer{
			color: @lightGray;
		}
		.modal-overlay{
			.modal{
				background: @darkGray;
				border: 1px solid #383c3f;
					.modal-content .form {
					form{
						input{
							color: #fff;
							background: @darkGraySecondary;
						}
						span{
							p{
								font-size: 2rem;
								
							}
							background: @darkGraySecondary;
						}
					}
				}
			}
		}
	}
}