@bgcolor: #B39DDB;
@darkBlue: rgb(0, 0, 24);
@green: rgba(0,230,118,1);
@red: #fd6044;
@secondaryRed: #fa320f;
@secondaryGreen: rgba(0, 230, 119, .7);
@lightGray: #c9d1d9;
@darkGray: #21262d;
@darkGraySecondary: #161b22;

.romove-user-select{
	user-select: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-tap-highlight-color: transparent;
}
.flex-coll-center-center{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
.noShowtext{
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: 0;
	overflow: hidden;
	clip: rect(0,0,0,0);
	white-space: nowrap;
	border-width: 0;
}